<h1>Simple Ordering Meal Sytem</h1>
<p>Welcome to here</p>

<p><%= link_to "Sign Up", new_user_registration_path %> and <%= link_to "Sign In", new_user_session_path %></p> then you can make a subscription for a meal.
